@media screen and (max-width: 1300px){
	.gallery img{
		width: 30.5%;
	}
	.gallery .img0{
		margin-right: 13px;
	}
	.item1 img {
	    width: 60px;
	}
	.info{
		padding-bottom: 395px;
	}
	.footer {
    	height: 960px;
	}
	.info1{
		background: rgba(0,0,0,0.5);
    	padding: 0 10px 10px;
    	border-radius: 5px;
    	width: 100%;
    	margin-bottom: 15px;
	}
	.info2{
		background: rgba(0,0,0,0.5);
    	padding: 0 10px 10px;
    	border-radius: 5px;
    	width: 100%;
	}
	.contacts{
		margin-top: 60px;
	}
}

@media screen and (max-width: 1015px){
	.gallery img{
		width: 30%;
	}
}

@media screen and (max-width: 925px){
	.gallery img{
		width: 47%;
	}
	#menu,.item{
		display: none;
	}
	.btn-menu{
		display: block;
	}
	.brand img{
		display: block;
	}
	
}

@media screen and (max-width: 800px){
	.gallery img{
		width: 46%;
	}
	header {
    	background: url(../img/bg.jpg) no-repeat 65% 0%;
    }
    .info2{
		float: left;
    }
}

@media screen and (max-width: 605px){
	.gallery img{
		width: 100%;
	}
	.btn-a {
    	width: 179%;
	}
}

@media screen and (max-width: 550px){
	.contacts{
		margin-top: 60px;
	}
}

@media screen and (max-width: 523px){
	.contacts{
		margin-top: 90px;
	}
}

@media screen and (max-width: 450px){
	.footer {
    	height: 1085px;
	}
	.info {
    	padding-bottom: 520px;
	}
	.contacts{
		margin-top: 30px;
	}
}

@media screen and (max-width: 485px){
	.contacts{
		margin-top: 0px;
	}
}

@media screen and (max-width: 385px){
	.info {
    	padding-bottom: 620px;
	}
	.contacts {
    	width: 270px;
	}
	.footer {
    	height: 1090px;
	}
}

@media screen and (max-width: 333px){
	.footer {
    	height: 1150px;
	}
}

@media screen and (max-width: 315px){
	.contacts{
		margin-top: 50px;
	}
	.footer {
    	height: 1170px;
	}
}
@media screen and (max-width: 280px){
	.info p{
		line-height: 20px;
	}
}



@media screen and (min-width: 925px){
	.btn-menu{
		display: none;
	}
	.menu{
		height: 0;
	}
	.menu ul li{
		display: none;
	}
}


