@media screen and (max-width: 1300px){
	.gallery img{
		width: 30.5%;
	}
	.gallery .img0{
		margin-right: 13px;
	}
	.item1 img {
	    margin-right: 50px;
	    width: 60px;
	}
	.info{
		padding-bottom: 395px;
	}
	.footer {
    	height: 960px;
	}
	.info2{
		float: left;
	}
}

@media screen and (max-width: 1015px){
	.gallery img{
		width: 30%;
	}
}

@media screen and (max-width: 925px){
	.gallery img{
		width: 47%;
	}
	#menu,.item{
		display: none;
	}
	.btn-menu{
		display: block;
	}
	.brand img{
		display: block;
	}
	
}

@media screen and (max-width: 800px){
	.gallery img{
		width: 46%;
	}

}

@media screen and (max-width: 605px){
	.gallery img{
		width: 100%;
	}
	.btn-a {
    	width: 179%;
	}
}

@media screen and (max-width: 550px){
	.contacts{
		margin-top: 50px;
	}
}

@media screen and (max-width: 450px){
	.footer {
    	height: 1040px;
	}
	.info {
    	padding-bottom: 520px;
	}
}

@media screen and (max-width: 385px){
	.info {
    	padding-bottom: 620px;
	}
	.contacts {
    	width: 270px;
	}
	.footer {
    	height: 1170px;
	}
}



@media screen and (min-width: 925px){
	.btn-menu{
		display: none;
	}
}


